body {
  background-color: #BDE8E8;
}

.link {
  color: #1a4e7e;
  /*display: inline-block;*/
  /*float: left;*/
  padding-left: 10px;
}

.log-in-link {
  /*position: fixed;*/
  /*margin-left: 65%;*/
}

.button {
  color: white;
  background-color: #2670B5;
  border: 1px solid #2629b5;
}

/*.button:hover{
  background-color: green;
}*/

input {
  margin: 5px;
  border: 1px solid #2629b5;
}

.search-bar {
  display: block;
  margin-top: 100px;
}

.first-results{
  border: 1px solid black;
}

.Food-container {
  border: 1px solid black;
}